[Unit]
Description=Fotobox Web Application
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

WorkingDirectory=/opt/fotobox
ExecStart=/opt/fotobox/.venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000

Restart=on-failure
RestartSec=5

User=fotobox
Group=fotobox

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

